html, body {
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../cruise-ships-gui/images/water0.png');
}

#ports {
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../cruise-ships-gui/images/port.png');
}

#ship {
    width: 128px;
    height: 64px;
    background-image: url('../cruise-ships-gui/images/ship.png');
    margin-left: 50px;
    position: absolute;
}

#sailbutton{
    border: 0;
    background-color: rgb(28, 47, 156);
    border-bottom: 4px solid #d8040f;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#sailbutton:focus {
    background-color: lawngreen;
    color: magenta;
    border-bottom-width: 0;
    padding-top: 14px;
}

#message {
    background-color: lightseagreen;
    color: maroon;
    border-bottom-width: 0;
    padding-top: 14px;
}